extends header
include  mixins/_reviewForm
include  mixins/_review

block content
    .store__hero.relative
        .store__hero--overlay.z-2.w-100.h-100.absolute.tc
            h2.tc.f1.z-5.store__title.white.dib.pt2.ph2= store.name.toUpperCase()
        img.hero.w-100.h-100.absolute(src=`/uploads/${store.photo || 'store.png'}`)
    .inner
        img(src=h.staticMap(store.location.coordinates))
        p.f5.fw1= store.location.address
        p.f5.fw1= store.description
        if store.tags
            each tag in store.tags
                a.mr3.link.f5.br3.pa2.mv2.dib.tag.black(href=`/tags/${tag}`)
                    span.b #
                    span.fw1.f4 #{tag}
        if user
            +reviewForm(store)
        if store.reviews
            .reviews
                each review in store.reviews
                    .review
                        +review(review)
