mixin storeCard(store = {})

    .store__card.ba
        .store__card--hero.relative
            img.h-100.w-100(src=`/uploads/${store.photo || 'store.png'}`)
            h2.store__card--title.z-2.ma0.relative.f3.ml3.pt6.absolute.bottom-1
                a.link.black.pt1.white.fw4.pt1.ph1(href=`/store/${store.slug}`) #{store.name.toUpperCase()}
        .pa3.z-2.relative.store__card--description.fw1
            - const text = store.description.split(' ')
            p.f5.ma0.di= text.slice(0, 25).join(' ')
            span.f5= store.description.split(' ').length > 25 ? '...' : ''





